<h1>Stock Purchase Page</h1>

<!-- <a href="/transaction/search">Link Test</a> -->

<form action="/transaction/search" method="get">
  Ticker: <input type="text" name="ticker" value="">
  <input type="submit" value="submit">
</form>
