<style media="screen">
	.userInfo{
		display: inline-block;
		vertical-align: top;
		background-color: white;
		border: 5px solid gray
	}
	.text-left, .News{
		display: inline-block;
		vertical-align: top;
		margin-right: 30px;
	}

	.News{
		background-color: white;
		border: 5px solid gray
	}
	.Wrapper {
		background-image: url('/assets/capital_gains.jpg');
		background-size: 100%;
		o
	}

	.topBanner{
		  border-bottom: 2px solid black;
		  background-color: #040e13
		}

	#title{
	  color: white;
		margin-top: 0px;
		padding-top: 20px;
		font-size: 80px;
	}



.container {
  display: -webkit-flex;
  display: flex;
  height: 100%;
}

#logbox {
  padding: 10px;
  margin: 50px auto;
  width: 340px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

h1 {
  text-align: center;
  font-size: 175%;
  color: #757575;
  font-weight: 300;
}

h1, input {
  font-family: "Open Sans", Helvetica, sans-serif;
}

.input {
  width: 75%;
  height: 50px;
  display: block;
  margin: 0 auto 15px;
  padding: 0 15px;
  border: none;
  border-bottom: 2px solid #ebebeb;
}
.input:focus {
  outline: none;
  border-bottom-color: #3CC !important;
}
.input:hover {
  border-bottom-color: #dcdcdc;
}
.input:invalid {
  box-shadow: none;
}

.pass:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.inputButton {
  position: relative;
  width: 85%;
  height: 50px;
  display: block;
  margin: 30px auto 30px;
  color: white;
  background-color: #3CC;
  border: none;
  -webkit-box-shadow: 0 5px 0 #2CADAD;
  -moz-box-shadow: 0 5px 0 #2CADAD;
  box-shadow: 0 5px 0 #2CADAD;
}
.inputButton:hover {
  top: 2px;
  -webkit-box-shadow: 0 3px 0 #2CADAD;
  -moz-box-shadow: 0 3px 0 #2CADAD;
  box-shadow: 0 3px 0 #2CADAD;
}
.inputButton:active {
  top: 5px;
  box-shadow: none;
}
.inputButton:focus {
  outline: none;
}



</style>

<div class="topBanner">
	<h1 id="title" class="text-center">CAPITAL GAINS</h1>
	<div class="ticker">
		<!-- Start TC2000 widget -->
		<iframe width="100%" noresize="noresize" scrolling="no" height="20" frameborder="0" src="https://widgets.tc2000.com/WidgetServer.ashx?id=47565"></iframe>
		<!-- END TC2000 Widget -->
	</div>
</div>



	<div class="Wrapper">

		<div class="col-md-6">
	 	<div id="logbox">
	 		<form id="signup" method="post" action="/user/login">
	 			<h1>Account Login</h1>
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	 			<input name="email" type="email" placeholder="enter your email" class="input pass"/>
	 			<input name="password" type="password" placeholder="enter your password" required="required" class="input pass"/>
	 			<input type="submit" value="Sign me in!" class="inputButton"/>
			</form>
	 	</div>
	 	</div>




	<div class="container">
		<div class="col-md-6">
		<div id="logbox">
			<form id="signup" method="post" action="/create/user">
				<h1>Create Account</h1>
				<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
				<input name="first_name" type="text" placeholder="First Name" pattern="^[\w]{3,16}$" autofocus="autofocus" required="required" class="input pass"/>
				<input name="last_name" type="text" placeholder="Last Name" pattern="^[\w]{3,16}$" autofocus="autofocus" required="required" class="input pass"/>
				<input name="email" type="email" placeholder="Email Address" class="input pass"/>
				<input name="password" type="password" placeholder="Choose a password" required="required" class="input pass"/>
				<input name="confirm_pw" type="password" placeholder="Confirm password" required="required" class="input pass"/>

				<input name="city" type="text" placeholder="City" class="input pass"/>
				<input name="state" type="text" placeholder="State" class="input pass"/>
				<input name="zip" type="text" placeholder="Zip" class="input pass"/>
				<input name="phone" type="text" placeholder="Phone" class="input pass"/>
				<input type="submit" value="Sign me up!" class="inputButton"/>
				<div class="text-center">
						already have an account? <a href="#" id="login_id">login</a>
				</div>
			</form>
		</div>
	 </div>
		<!--col-md-6-->

	<div class="text-left">
		<div class="userInfo">
			<h4 class='text-center'>Registration</h4>
			<form class="" action="/create/user" method="post">
				<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
				<h4 class='text-left'>User Credentials: </h4>
				<!-- <p>First Name: <input type="text" name="first_name" value=""></p>
				<p>Last Name: <input type="text" name="last_name" value=""></p>
				<p>Email: <input type="text" name="email" value=""></p> -->
				<p>Password: <input type="text" name="password" value=""></p>
				<p>Confirm Password: <input type="text" name="confirm_pw" value=""></p>
				<h4 class= 'text-left'>Address:</h4>
				<p>City: <input type="text" name="city" value=""></p>
				<p>State: <input type="text" name="state" value=""></p>
				<p>Zip: <input type="text" name="zip" value=""></p>
				<p>Phone: <input type="text" name="phone" value=""></p>
				<input type="submit" name="" value="Register">
			</form>
		</div>




	</div>

	<div class="News">
		<h3>Latest Financial News</h3>
		<script>
						var nof_headlines = 5;
						var author_id = '';				</script>
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
					<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
					<script src="http://static.amigobulls.com/js/news_widgets.min.js.gz"></script>
					<link rel="stylesheet" type="text/css" href="http://static.amigobulls.com/css/news_widgets.min.css.gz" />
					<div id="container" style="width:350px;" >
						<div class='output_data'>
							<h3 class='border'><a rel='nofollow' href='http://amigobulls.com/video/' title='Stock Analysis Videographs'>Stock Market News & Analysis</a></h3>
							<ul id='listcontainer'>
								<li class='colorgrey border'><a rel='nofollow' href='http://amigobulls.com/video/netflix-stock-analysis'  title= "Netflix Stock Analysis Video">Netflix Stock Analysis Video</a></li>
							</ul>
						</div>
					</div>
	</div>
</div>

<div class="errors">
	<% if flash[:errors] %>
	<% flash[:errors].each do |msg| %>
	<ul>
		<li><%= msg %></li>
	</ul>
	<%end%>
	<%end%>
</div>




</div>
