<style media="screen">
	.userInfo{
		display: inline-block;
		vertical-align: top;
		background-color: white;
		border: 5px solid gray
	}
	.text-left, .News{
		display: inline-block;
		vertical-align: top;
		margin-right: 30px;
	}

	.News{
		background-color: white;
		border: 5px solid gray
	}
	.Wrapper {
		background-image: url('/assets/capital_gains.jpg');
		background-size: 100%;
		o
	}

	.topBanner{
		  border-bottom: 2px solid black;
		  background-color: #040e13
		}

	#title{
	  color: white;
		margin-top: 0px;
		padding-top: 20px;
		font-size: 80px;
	}
</style>

<div class="topBanner">
	<h1 id="title" class="text-center">WU-TANG FINANCIAL</h1>
	<div class="ticker">
		<!-- Start TC2000 widget -->
		<iframe width="100%" noresize="noresize" scrolling="no" height="20" frameborder="0" src="https://widgets.tc2000.com/WidgetServer.ashx?id=47565"></iframe>
		<!-- END TC2000 Widget -->
	</div>
</div>


	<div class="Wrapper">
	<div class="text-left">
		<div class="userInfo">
			<h4 class='text-center'>Registration</h4>
			<form class="" action="/create/user" method="post">
				<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
				<h4 class='text-left'>User Credentials: </h4>
				<p>First Name: <input type="text" name="first_name" value=""></p>
				<p>Last Name: <input type="text" name="last_name" value=""></p>
				<p>Email: <input type="text" name="email" value=""></p>
				<p>Password: <input type="text" name="password" value=""></p>
				<p>Confirm Password: <input type="text" name="confirm_pw" value=""></p>
				<h4 class= 'text-left'>Address:</h4>
				<p>City: <input type="text" name="city" value=""></p>
				<p>State: <input type="text" name="state" value=""></p>
				<p>Zip: <input type="text" name="zip" value=""></p>
				<p>Phone: <input type="text" name="phone" value=""></p>
				<input type="submit" name="" value="Register">
			</form>
		</div>

		<div class="userInfo">
			<h4 class='text-center'>Login</h4>
			<form class="" action="/user/login" method="post">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<p>Email: <input type="text" name="email" value=""></p>
				<p>Password: <input type="text" name="password" value=""></p>
				<input type="submit" name="" value="Login">
			</form>
		</div>
	</div>



	<div class="News">
		<h3>Latest Financial News</h3>
		<script>
						var nof_headlines = 5;
						var author_id = '';				</script>
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
					<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
					<script src="http://static.amigobulls.com/js/news_widgets.min.js.gz"></script>
					<link rel="stylesheet" type="text/css" href="http://static.amigobulls.com/css/news_widgets.min.css.gz" />
					<div id="container" style="width:350px;" >
						<div class='output_data'>
							<h3 class='border'><a rel='nofollow' href='http://amigobulls.com/video/' title='Stock Analysis Videographs'>Stock Market News & Analysis</a></h3>
							<ul id='listcontainer'>
								<li class='colorgrey border'><a rel='nofollow' href='http://amigobulls.com/video/netflix-stock-analysis'  title= "Netflix Stock Analysis Video">Netflix Stock Analysis Video</a></li>
							</ul>
						</div>
					</div>
	</div>
</div>

<div class="errors">
	<% if flash[:errors] %>
	<% flash[:errors].each do |msg| %>
	<ul>
		<li><%= msg %></li>
	</ul>
	<%end%>
	<%end%>
</div>
